<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head"></head>

<body>

	<nav th:replace="fragments/layout :: top-nav"></nav>
	
	<div class="container">
	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/event/edit}" th:object="${event}" method="post" class="form-horizontal" role="form">
					
					<h2>Edit Event</h2>
					
					<input type="hidden" th:field="*{id}" class="form-control" />
					
					<div class="form-group">
						<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="validation-message"></label>
						<input type="text" th:field="*{name}" placeholder="Title"
								class="form-control" /> 
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
						<label>Created By</label>
						<span th:text="${event.createdBy.email}"></span> 
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Edit Event</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>
					
				</form>
			</div>
		</div>
	</div>

	<div th:replace="fragments/layout :: footer"></div>
	
</body>
</html>