<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head"></head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4"
		th:fragment="top-nav">
		<a class="navbar-brand" href="#">Idea Forge</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarCollapse" aria-controls="navbarCollapse"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<form th:action="@{/}" method="get">
				<button class="btn btn-md btn-warning btn-block float-right" type="Submit">Login</button>
			</form>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/registration}"
					th:object="${user}" method="post" class="form-horizontal"
					role="form">

					<h2>Registration Form</h2>

					<div class="form-group">
						<div class="col-sm-9">
							<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								class="validation-message"></label> <input type="text"
								th:field="*{name}" placeholder="Name" class="form-control" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<label th:if="${#fields.hasErrors('lastName')}"
								th:errors="*{lastName}" class="validation-message"></label> <input
								type="text" th:field="*{lastName}" placeholder="Last Name"
								class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" th:field="*{email}" placeholder="Email"
								class="form-control" /> <label
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="password" th:field="*{password}"
								placeholder="Password" class="form-control" /> <label
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="validation-message"></label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Register
								User</button>
						</div>
					</div>

					<span th:utext="${successMessage}"></span>

				</form>
			</div>
		</div>
	</div>

	<div th:replace="fragments/layout :: footer"></div>

</body>
</html>