<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head"></head>

<body>

	<nav th:replace="fragments/layout :: top-nav"></nav>
	
	<div class="container">
		<h3>Ideas</h3>
		<div class="list-group">
		  <a th:each="idea : ${ideas}" th:text="${idea.title}" th:href="@{/idea/edit/{id}(id=${idea.id})}" class="list-group-item list-group-item-action">Cras justo odio</a>
		</div>
	</div>

	<div th:replace="fragments/layout :: footer"></div>
	
</body>
</html>